<h1>Nuestras Pizzas</h1>
<hr>
<mat-divider></mat-divider>
<br>



<div class="container">
     <div class="row">
          <div class="col"*ngFor="let pizza of pizza">
               <div class="row-mt5">
                    <app-pizza-tarjeta [pizza]="pizza"></app-pizza-tarjeta>
                    
               </div>
               
                    <app-carrito [carro]="carro"></app-carrito>
               </div>
          </div>
     
     
     <router-outlet></router-outlet>

</div>
