<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card-signin my-5">
                <div class="card-body">
                    <h4>Iniciar Sesion</h4>
                    <form class="form-signin" [formGroup]="miFormulario"(ngSubmit)="login()">
                        <h4>Email</h4>
                        <div class="form-label-group">
                            
                            <input type="email" id="inputEmail" placeholder="Intrduzca su email" class="form-control" placeholder="Email address"  formControlName="email" required autofocus>
                           
                        </div>
                        <h4>Contraseña</h4>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
                          </div>
                          
                          <div class="custom-control custom-checkbox mb-3">
                              <input type="checkbox" class="custom-checkbox mb-3">
                              <label class="custom-control-label" for="customCheck1">Recuerdame</label>
                              <br>
                              <small>No tiene cuenta <a href="auth/registro">registrate</a></small>
                          </div>
                          
                          <button class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
